/* Mealslist.css */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gallery {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.gallery h4 {
  font-weight: bold;
  color: blueviolet;
}

.gallery p {
  color: blueviolet;
  margin-top: 10px;
}
.price {
  margin-left: 30px;
  color: blueviolet;
}
.description {
  margin-bottom: 10px;
  color: blueviolet;
}
